.page {
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	text-align: center;

	background-color: #f5f5f5;

	gap: 16px;
}

h1, h3, p {
	margin: 0;
}


button {
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;

	padding: 8px 16px;
	border: none;
	border-radius: 4px;

	cursor: pointer;

	background-color: #9866FF;
	color: #f5f5f5;
}

.buttons{
	display: flex;
	flex-direction: row;
	gap: 16px;
}

.timer{
	font-size: 48px;
	line-height: 72px;
	font-weight: 600;
}